{% extends "index.html.twig" %}

{% block section %}

    <div class="container">

        <h1 class="text-center pb-3">
            {{utis.prenom}} {{utis.nom}}
        </h1>
        <!-- Info du profil -->
        <div class="row ">
            <div class="col-md-8 mx-auto text-center">
                <!-- Deux div en row -->
                <div class="row">
                    <!-- Div de gauche -->
                    <div class="col-md-6">
                        <p>
                            <strong>Identifiant IUT :</strong> {{utis.identifiantiut}}
                        </p>
                        <p>
                            <strong>Email :</strong> {{utis.email}}
                        </p>
                        <!-- Mot de passe -->
                        <p>
                            <strong>Mot De Passe :</strong>
                            <!-- Utilisez un champ de texte masqué par défaut -->
                            <input type="password" id="maskedPassword" value="{{ utis.mdp }}">
                        </p>
                    </div>

                    <!-- Div de droite avec l'image de représentation -->
                    <div class="col-md-6 text-center">
                        <img src="photodeprofil/{{utis.photodeprofil}}" alt="photo de profil de l'utilisateur " class="img-fluid rounded-circle w-50 ">
                    </div>
                </div>

                <!-- Bouton de retour -->
                <div class="text-center">
                    <a href="?action=profil" class="btn btn-primary mt-3">Modifier le Profil</a>
                </div>
            </div>
        </div>
    </div>

    <script src="profil.js" defer></script>
{% endblock %}
